{% include "partials/auth_overlay.html" %}
<div class="app">
  {% include "partials/sidebar.html" %}

  <main class="main">
    <div class="wrap">
      {% include "partials/toolbar.html" %}
      {% include "partials/pages/pipeline.html" %}
      {% include "partials/pages/marketing.html" %}
      {% include "partials/pages/companion.html" %}
      {% include "partials/pages/thumbnail.html" %}
      {% include "partials/pages/dashboard.html" %}
      {% include "partials/pages/settings.html" %}
      {% include "partials/pages/audience.html" %}
      {% include "partials/pages/history.html" %}
      {% include "partials/pages/ideas.html" %}
    </div>
  </main>
</div>
{% include "partials/scripts.html" %}
