<script src="/static/js/state.js"></script>
<script src="/static/js/auth.js"></script>
<script src="/static/js/pipeline.js"></script>
<script src="/static/js/marketing.js"></script>
<script src="/static/js/notes.js"></script>
<script src="/static/js/quotes.js"></script>
<script src="/static/js/workspace.js"></script>
<script src="/static/js/ops.js"></script>
<script src="/static/js/actions-core.js"></script>
<script src="/static/js/actions-marketing.js"></script>
<script src="/static/js/actions-dispatch.js"></script>
<script src="/static/js/ui-core.js"></script>
<script src="/static/js/ui-marketing.js"></script>
<script src="/static/js/bootstrap.js"></script>
